/* $Id: style.css,v 1.54 2007/07/02 15:50:55 agoubard Exp $ */

/* ------------------------------------- Generic element type-based rules --*/

body {
	font-family: Verdana, sans-serif, Arial, Helvetica;
	font-size: 9pt;
	color: $color3;
	background-color: $color0;
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 280%;
	color: $color1;
}

h2 {
	color: $color0;
	background-color: $color1;
	margin: 0;
	padding: 0.2em;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}

h3 {
	border-top: 1px dotted $color2;
	color: $color1;
	margin-top: 1.5em;
	margin-bottom: 0.7em;
	font-size: 100%;
	font-weight: bold;
}

li {
	margin-left: 1em;
	padding-left: 1em;
}

img {
	border-style: none;
}

table {
   border-collapse: collapse;
}

table tr td,
table tr th {
	margin: 0;
	padding: 0.3em;
	vertical-align: top;
	text-align: left;
}

ul {
	list-style-type: square;
}

code,
pre {
	color: $color5;
}


/* ------------------------------------------------- Media-Specific rules --*/

@media screen {
	#sidebar {
		float: left;
		position: absolute;
		left: 0px;
	}

	#togglemenu a,
	#togglemenu a:link,
	#togglemenu a:visited,
	#togglemenu a:hover {
		margin: 0;
		width: 1em;
		padding: 0.2em 0 0.2em 0;
		font-weight: bold;
		text-decoration: none;
		z-index: 1;
		border: 0px solid $color0;
	}

	#showmenu {
		display: none;
	}

	#menu {
		float: left;
		clear: left;
		margin: 0;
		width: 12em;
		padding: 1em 0 1em 0;
		background-color: $color4;
		border-width: 1px 1px 1px 0;
		border-style: solid;
		border-color: $color2;
		-moz-border-radius-bottomright: 1em; /* Mozilla-specific */
		-moz-border-radius-topright:    1em; /* Mozilla-specific */
	}

	#menu li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		line-height: 1.3;
	}

	#menu li a {
		margin: 0;
		padding: 0 0.2em 0 1em;
	}

	#menu li.active,
	#menu li.active:hover {
		background-color: $color1;
		color: $color0;
		padding: 0 0.2em 0 1em;
		margin: 0 2px 0 0;
	}

	#menu li.activeng,
	#menu li.activeng:hover {
		background-color: $color1;
		color: $color0;
		padding: 0 0.2em 0 1em;
		border-top: 1px solid $color2;
		margin: 0.6em 2px 0 0;
	}

	#menu li a:link,
	#menu li a:visited,
	#menu li a:hover {
		color: $color1;
		text-decoration: none;
	}

	#menu li a:hover {
		text-decoration: underline;
	}

	#menu li.activeng a:link,
	#menu li.activeng a:visited,
	#menu li.activeng a:hover,
	#menu li.active a:link,
	#menu li.active a:visited,
	#menu li.active a:hover {
		color: $color0;
		padding-left: 0;
	}

	#menu .newgroup {
		border-top: 1px solid $color2;
		margin-top: 0.6em;
	}

	#content {
		margin: 0 0.5em 0 13em;
	}

	#content a:link,
	#content a:visited,
	#content a:hover {
		color: $color1;
		text-decoration: none;
	}

	#content pre  a:link,
	#content pre  a:visited,
	#content code a:link,
	#content code a:visited {
		color: $color5;
		border-bottom: 1px dotted;
	}

	#content pre  a:hover,
	#content code a:hover {
		color: $color5;
		border-bottom: 1px solid;
	}

	#content a:hover {
		border-bottom: 1px solid;
	}

	#footer {
		margin-top: 2em;
		clear: both;
		border-width: 1px;
		border-style: solid none none none;
		border-color: $color2;
		font-style: italic;
		text-align: right;
		font-size: 80%;
		color: $color2;
	}

	#footer .links {
		display: inline;
		float: left;
		text-align: left;
		margin-right: 2em;
	}

	#footer .fileversion {
		display: inline;
		text-align: right;
	}

	#footer a:link,
	#footer a:visited,
	#footer a:hover {
		color: $color2;
	}

	#footer tr td.right {
		text-align: right;
	}
}

@media print {
	#sidebar,
	#footer {
		display: none;
	}

	#content {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
	}

	a:link,
	a:visited {
		text-decoration: none;
		color: $color3;
	}

	code a:link,
	code a:visited {
		color: $color5;
	}
}


/* ---------------------------------------------------- ID-Specific rules --*/

#subtitle {
	display: block;
	font-weight: normal;
	font-size: 9pt;
	margin-bottom: 1em;
	color: $color2;
}

#root {
}

#content dl dt {
	margin: 0;
	font-style: italic;
}

#content dl dd {
	margin: 0 0 0.4em 2.0em;
	padding: 0;
}

#counter img {
	width: 1px;
}

#executed-tests {
	border: 1px solid $color1;
	width: auto;
	border-collapse: collapse;
}

#executed-tests tr th {
	color: $color0;
	background-color: $color1;
	border: 1px solid $color1;
}

#executed-tests tr td {
	border: 1px solid $color1;
}


/* ------------------------------------------------- Class-Specific rules --*/

.nodisplay {
	display: none;
}

.indent {
	padding-left: 4em !important;
}

.section {
	margin: 0 0 1em 0;
	padding: 0.2em;
	border: 1px solid $color2;
	-moz-border-radius-bottomleft: 1em;  /* Mozilla-specific */
	-moz-border-radius-bottomright: 1em; /* Mozilla-specific */
}

.section table,
.section div,
.section ul,
.section dl,
.section p {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding: 0;
}

.section ul {
	margin-left: 1em;
}

h3 .sub {
	font-weight: normal;
}

table.todo {
	text-decoration: none;
	margin: 0 1em 1em 1em;
	border: 1px solid $color2;
	width: auto;
	border-collapse: collapse;
}

tr.todo {
	height: 2em;
	line-height: 2em;
	color: $color3;
	background: #ddddff;
}

table.todo td,
table.todo th {
	padding: 0em 0.3em 0em 0.3em;
	border-top: 1px solid $color2;
}

table.todo th {
	font-weight: normal;
	font-style: italic;
}

tr.todo-title td,
tr.todo-title th {
	height: 2em;
	line-height: 2em;
	color: $color3;
	border-top: 1px solid $color2 !important;
	background: $color4;
	font-weight: normal;
	font-style: italic;
}

tr.todo-title td {
	font-weight: bold;
}

td.document, th.document {
	width: 250px;
}

table.demo {
	border: 1px solid;
	width: 97%;
	background-color: $color0;
	border-collapse: collapse;
	margin: 0 0em 0.3em 1em;
}

table.demo tr td,
table.demo tr th {
	font-weight: normal;
	border: 1px solid $color2 !important;
	padding: 0 0.2em 2px 0.2em;
	border-style: none solid none solid;
}

table.demo tr th {
	font-style: italic;
	background-color: #eee;
}

table.demo tr td.file,
table.demo tr td.command {
	font-family: monospace;
	white-space: nowrap;
}

table.dothis tr td {
   border-width: 1px;
   border-style: solid none none none;
   border-color: #bbb;
}

table.dothis tr td.step {
   background-color: #ddddff;
   font-weight: normal;
   padding-right: 8pt;
   border-color: #bbb;
   font-size: 80%;
   width: 5em;
}

.note,
.comment {
	color: $color2;
	font-style: italic;
}

.note em,
.comment em {
	font-style: normal;
}

.note a,
.comment a {
	color: $color2 !important;
	border-bottom: 1px dotted;
}

.quote {
	font-style: italic;
	color: #828;
}

.javacode .comment {
	font-style: normal;
	font-weight: bold;
}

/* ----------------------------------------- Clearly mark forbidden tags ---*/

i,
b,
u {
	color: #f00 !important;
	background: #00f !important;
}
